.home .carousel .carousel-item {
    height: 320px;
  }

.home .carousel .carousel-caption{
      height: 100%;
  }

.home .h1{
      line-height: 320px;
  }

.home span{
    font-size: 48px;
}
.top_choices li{
    border-bottom: 2px solid #F1F0F8;
}

.home .card{
  width: 255px;
}

.bg-linear-gradient{
  background: linear-gradient(270deg, #00000000 0%, #000000 100%);
}


// top choices 樣式設定
.nav-tabs{
  margin-bottom: 24px;  
}
.nav-link.active,.nav-link:hover {
  border-width:0;
  border-bottom:2px solid #6C51E2;
}
.card{
  border:0;
}
.card-body{
  padding:0;
}
.card-img-top{
  height:175px;
  object-fit:cover;
}


// swiper 方向鍵樣式調整

.swiper-button-prev{
  display:none;
}
.swiper-button-next{
  padding:25px;
  border-radius:50%;
}

.swiper-button-next:after{
  color: black;
  font-size:20px;
  font-weight: 900;
}