<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- swiper 輪播連結 -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- 使用字型連結 -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
  <!-- 使用 Material icon 連結 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>
<body>
<header class="container">
    <nav class="navbar navbar-expand-md">
      <h1><a class="navbar-brand logo" href="#" style="background-image: url(./assets/images/logo-aloha.svg);">logo</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-super_dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="material-icons">language</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">English</a>
              <a class="dropdown-item" href="#">German</a>
              <a class="dropdown-item" href="#">Belgique</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-super_dark ml-5" href="#">Sign up <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-super_dark ml-3" href="#">Login</a>
          </li>   
        </ul>
      </div>
    </nav>
</header>


    <%- contents %>


<section class="container p-3 py-md-2 d-flex flex-column align-items-center flex-md-row align-items-md-center justify-content-md-between">
  <ul class="d-flex  order-md-2 mb-2 mb-md-0 list-unstyled text-info">
    <li class="mr-3"><a class="text-info" href="#">FAQs</a></li>
    <li class="mr-3"><a class="text-info" href="#">Terms of use</a></li>
    <li><a class="text-info" href="#">Privacy policy</a></li>
  </ul>
  <div class="font-m text-info order-md-1">© 2020 ALOHA, Inc. All rights reserved.</div>
  <ul class="font-m order-lg-3 d-none d-lg-flex">
    <div class="dropdown">
      <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="footerDropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="material-icons">language </div><span class="ml-1 font-m">English</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="footerDropdownLanguage"><a class="dropdown-item active">English</a><a class="dropdown-item">中文(繁體)</a><a class="dropdown-item">Japanese</a></div>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="footerDropdownCurrency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="material-icons">attach_money</div><span class="ml-1 font-m">TWD</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="footerDropdownCurrency"><a class="dropdown-item active">USD</a><a class="dropdown-item">NTD</a><a class="dropdown-item">EURO</a></div>
    </div>
  </ul>
</section>
</body>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
